.logo{
    width: 250px;
    position: absolute;
    top:20px;
    left: 20px;
    z-index: 99;
}
body{
    font-family: 'Montserrat', sans-serif;

}
.header{
    position: relative;
}
.checked {
    color: orange;
  }
.title{
   text-align: center;
}
.slide1 .bg ,.slide2 .bg{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./img/bg_slide1.png');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.play_video,.play_video2,.carousel-indicators,.carousel-caption{
    z-index: 999;
}
.carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.carousel-indicators li.active{
    background-image: url('./img/net2.png');
    background-size: 100% 100%;
    border-radius: 50%;
    background-color: unset;
}
.slide2 .bg{
    background-image: url('./img/bg_slide2.png');
}
.rotate_center{
    text-align: center;
    background-image: url('./img/ss5_center.png');
    background-size: 100% 100%;
}
.rotate_center img{
    width: 69px;
    height: 69px;
    margin-top: 69px;
}
.section1{
    background-image: url('./img/bg_ss1.png');
    color: #fff;
}
.section1 .text{
    margin-top: 10px;
}

.section1 .chil_title img{
    margin-bottom: 20px;
    border-bottom: 3px solid #f2d142;
    padding-left: 20px;
    position: relative;
    z-index: 99;
}
.section1 .chil_title::after{
    content: "";
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    left: 15px;
    
}
.section1 .left_ss1{
    margin-top: 75px;
}
.video_iframe{
    height: 260px;
}
.left_ss1 ul {
    background-color: #020d35;
    margin-top: 25px;

}
.left_ss1 ul li{
    list-style-image: url('./img/net.png');
    padding: 10px 0;
}
.left_ss1 ul li:nth-child(2){
    background-color: #000d3f;
}
.left_ss1 ul li a{
    color: #fff;
}
.section2{
    background-image: url('./img/bg_ss2.png');
    color: #fff;
}
.section2 .box{
    text-align: center;
}
.section2 .box .box_img img{
    width: 90%;
}
.btn_sl_banh{
    width: 206px;
    height: 68px;
    background-image: url('./img/ss2_bg_banh.png');
    margin: auto;
    font-weight: 900;
    padding: 10px 0 0 50px;
    color: #eec138;
    
}

.section2 .box:nth-child(5){
    margin-top: 68px;
}
.section2 .box:nth-child(6){
    margin-top: 33px;
}
.section2 .box:nth-child(7){
    margin-top: 33px;
}
.section2 .box:nth-child(9){
    margin-top: 6px;
}
.section2 .box:nth-child(10){
    margin-left: -40px;
}
.section2 .box:nth-child(11){
    margin-left: -20px;
}
.section2 .box:nth-child(12){
    margin-top: 48px;
}
.section2 .box .box_img img{
    padding: 10px;
}
.footer_ss2{
    text-align: center;
    color: #faa415;
    text-transform: uppercase;
    padding: 30px 0;
}
.section3{
    background-image: url('./img/bg_ss3.png');
    background-size: 100% 100%;
    text-align: center;
}
.section3 .box img:nth-child(1){
    margin-bottom: 20px;
}
.section4 .col-xs-2{
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    
}
.section4 p:nth-child(4){
    padding-top: 10px;
    color: #faa415;
}
.section4 .col-half-offset{
    width: 20%;
}
.section4{
    background-image: url('./img/bg_ss4.png');
    background-size: 100% 100%;
}
.section4 .box{
    width: 137px;
    height: 158px;
    margin: auto;
    background-image: url('./img/ss4_img1.png');
    position: relative;
}
.stop_rotate{
    display: none;
}
.start_rotate:hover,.stop_rotate:hover{
    cursor: pointer;
    filter: saturate(3);
}
.section4 .box img{
    width: 43px;
    height: 42px;
    margin-top: 58px;
}
.section4 .box span{
    font-weight: 900;
    color: #fff644;
    -webkit-text-stroke: 1px #b70b02;
    position: absolute;
    bottom: 30px;
    left: 15px;
    font-size: 85%;
}
.section5{
    background-image: url('./img/bg_ss5.png');
    background-size: 100% 100%;
    padding-bottom: 180px;
    z-index: 9;
    position: sticky;
}

.bg-rotate{
    background-image: url('./img/bg_rotate.png');
    background-size: 100% 100%;
    padding-top: 100px;
    padding-bottom: 20px;
}
.btn_rotate{
    text-align: center;
    margin-top: 15px;
}
.history{
    background-image: url('./img/ss5_bg_box.png');
    background-size: 100% 100%;
    height: 500px;
    padding-top: 100px;
}
.history ul{
    padding-right: 40px;
    height: 360px;
    overflow: auto;
}
.history ul::-webkit-scrollbar {
    width: 4px;
  }
   
  .history ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }
   
  .history ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 4px;
  }
.history ul li{
    list-style: none;
    padding: 7px 0;
}
.history ul li a span:nth-child(2){
    float: right;
}
.history ul li a{
    color: #091742;
    font-weight: bold;
}
.account{
    color: #ebcfcf;
    text-align: center;
    padding: 20px 0;
}
.account strong,.account span a{
    color: #ffce00;
    text-decoration: underline;
}
.account span{
    padding-left: 15px;
}
 .title img{
   padding: 35px 0 45px 0;
}
.section3 .title .text3{
   color: #ffce00;
   width: 650px;
   margin: auto;
   padding-bottom: 45px;
}
.section3 .container{
    padding-bottom: 32px;
}
.section2 .text2{
   width: 650px;
   margin: auto;
   padding-bottom: 45px;
   color: #fff;
   margin-top: -30px;
}
.menu_right{
    position: fixed;
    top: 30%;
    right: 20px;
    background-image: url('./img/fix_right_bg.png');
    background-size: 100% 100%;
    width: 260px;
    height: 420px;
    padding-top: 115px;
    padding-bottom: 100px;
    padding-right: 30px;
    z-index: 999;
}
.back-to-top{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: -16px;
    cursor: pointer;
}
.menu_right ul li{
    margin-bottom: 5px;
   list-style: none;
   text-align: center;
}
.menu_right ul{
    padding-left: 0;

}
.menu_right ul li:nth-child(4){
    margin-top: 10px;
}
.menu_left{
    position: fixed;
    top:30%;
    left: 30px;
    z-index: 999;
} 
.menu_left ul li a{
    font-weight: bold;
    color: #a7b9c6;
    position: relative;
}
.menu_left ul li a.active{
    color: #fff;
    text-shadow: 1px 1px 10px #fff;
}
.menu_left ul li{
    position: relative;
    list-style: none;
    margin-bottom: 15px;
}
.menu_left ul li a:hover{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 10px #fff;
}
.menu_left ul li::after{
    content: "";
    background-image: url('./img/net2.png');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -45px;
}
.play_video,.play_video2{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-top: 170px;
    margin-left: 200px;
}
.play_video2{
    margin-top: 288px;
    margin-left: 40px;
}
.footer_ss3{
    color: #faa415;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.footer_ss3 a{
    color: #faa415;
    text-decoration: underline;  
   
}
footer{
    text-align: center;
    background-color: #000;
    padding: 20px;
    margin-top: -120px;
    z-index: -1;
}
footer img{
    width: 250px;
}
.giftx10{
    margin-top: 50px;
    text-align: center;
}
.giftx10 img{
    width: 100px;
    margin: 20px;
    
}
#giftx10 .close{
    font-size: 40px;
}
@media (min-width: 576px){
    #giftx10 .modal-dialog {
        max-width: 1000px !important;
        
    }
    #exampleModalCenter .modal-dialog {
        max-width: 800px !important;
    }
}
#exampleModalCenter .close{
    font-size: 60px;
}
.modal-content{
    background-color: unset;
    border: 0;
}
#giftx10 .modal-content{
    background-image: url('./img/giftx10.png');
    background-size: 100% 100%;
    background-color: unset;
    border: 0;
}
#dangki .modal-content,#login .modal-content{
    background-image: url('./img/bg_dk.png');
    background-size: 100% 100%;
    background-color: unset;
    border: 0;
    text-align: center;
    
}
#login .modal-content{
    background-image: url('./img/bg_login.png');
}
#dangki .modal-content .form{
    padding-top: 60px;
}
#dangki .modal-content input,#login .modal-content input[type="text"]{
    height: 50px;
    border-radius: 20px;
    border: 3px solid #8b000b;
    padding-left: 20px;
    background-color: #ffd26f;
    margin-bottom: 20px;
}
#login .modal-content input[type="text"]{
    width: 100%;
    
}
#login .modal-content .form{
    padding: 0 60px;
}
#dangki .modal-content button, #login .modal-content button{
    border: 0;
    background-color: unset;
}
#dangki .modal-content p,#login .modal-content p{
    color: #ffd26f;
    padding-top: 10px;
}
#login .modal-content p{
    padding-bottom: 15px;
}
#dangki .modal-content a, #login .modal-content a{
    color: #fff;
    text-decoration: underline;
}
input:focus,button:focus{
    border: 3px solid #8b000b;
    box-shadow: unset;
    outline: none;
}
::-webkit-input-placeholder {
    color: #8b000b;
    font-weight: bold;
}
.checkbox{
    text-align: left;
    padding: 0 60px;
}
.checkbox input[type=checkbox]{
    border: 3px solid #8b000b !important;
}
.checkbox span{
    color: #ffd26f;
}